body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto";
}

#display {
    font-size: 80px;
    margin-bottom: 20px;
}

.playerchoice {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 60px;
}

.choice {
    font-family: "Roboto";
    font-size: 30px;
    color: white;
    background-color: rgb(62, 62, 249);
    padding: 10px;
    border-radius: 8px;
    width: 200px;
    text-align: center;
    cursor: pointer;
}

#scoreboard {
    display: flex;
    font-size: 100px;
    gap: 50px;
    margin-bottom: 100px;
}

#scoreboard * {
    text-align: center;
}

#separator {
    width: 0px;
    border: 2px solid black;
}

.resulttext {
    display: none;
    font-size: 50px;
}